.Details {
	border: 1px solid silver;
	border-radius: 4px;
	background-color: white;
	position: absolute;
	padding: 6px;
	top: 20px;
	z-index: 4;
	width: max-content;
	max-width: 420px;
	/* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
}

.Details.left {
	border-top-right-radius: 0;
	right: 94px;
}
.Details.right {
	border-top-left-radius: 0;
	left: 94px;
}

.Details table {
	/* width: max-content; */
	margin: -2px;
}

.Details .full-name td:last-child {
	font-family: 'Akrobat Black', 'Arial Narrow', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.Details td {
	padding: 0;
	vertical-align: top;
	text-align: left;
}

.Details td:first-child {
	color: silver;
	padding-right: 8px;
	word-wrap: break-word;
}

.Details .kdi {
	position: relative;
}

.Details .kdi::after {
	content: 'Козубський Денис Ігорович';
	display: none;
	text-align: center;
	position: absolute;
	font-size: 10px;
	/* padding: 3px 6px; */
	top: -100%;
	left: -50px;
	/* transform: translate(-50px, 0); */
	border: 0.5px solid silver;
	/* border-radius: 6px; */
	/* background-color: rgb(230, 230, 230); */
	background-color: white;
	z-index: 3;
	width: 108px;
}

.Details .social-networks td:last-child {
	vertical-align: bottom;
}

.Details .social-networks a:not(:last-child) {
	margin-right: 4px;
}

.Details .kdi:hover::after {
	display: block;
}

.Details .biography {
	text-align: left;
}

.Details .biography h3 {
	font-size: inherit;
	color: silver;
	margin: 8px 0;
}

.Details .biography p {
	margin: 8px 0 0 0;
}
