.RouteButtons {
	border-radius: 8px;
	position: fixed;
	left: 20px;
	top: 20px;
	z-index: 5;
}

.RouteButtons a {
	background-color: white;
	border: 1px solid silver;
	display: inline-block;
	padding: 4px 8px;
}

.RouteButtons a:not(:last-child) {
	border-right: none;
}

.RouteButtons a:first-child {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.RouteButtons a:last-child {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.RouteButtons a.active {
	background-color: rgb(230, 230, 230);
	font-family: 'Akrobat Bold';
}
