.ApexChart {
	position: absolute;
	display: inline-block;
}

.ApexChart.gender,
.ApexChart.gender.relatives {
	width: 491px;
	min-width: 491px;
}

.ApexChart.gender {
	top: 1600px;
	/* left: 4525px; */
	left: 5050px;
}

.ApexChart.gender.relatives {
	top: 1600px;
	left: 5050px;
}

.ApexChart.address {
	width: 600px;
	min-width: 600px;
	top: 1600px;
	left: 5575px;
}

.ApexChart .apexcharts-title-text {
	font-family: 'Akrobat Black', sans-serif !important;
	font-size: 16px;
}

.ApexChart .apexcharts-text {
	font-family: 'Akrobat SemiBold', sans-serif !important;
}

.ApexChart .apexcharts-datalabel-label {
	font-size: 20px;
}

.ApexChart .apexcharts-datalabel-value {
	font-size: 36px;
}

.ApexChart .apexcharts-pie-label {
	font-size: 20px;
}

.ApexChart .apexcharts-tooltip * {
	font-size: 16px;
}

.ApexChart .apexcharts-tooltip.apexcharts-active {
	display: none;
}

.ApexChart .apexcharts-legend-text {
	font-family: 'Akrobat SemiBold', sans-serif !important;
	font-size: 16px !important;
}
