.ApexChart {
	position: absolute;
	display: inline-block;
	width: 600px;
	top: 1500px;
	left: 5450px;
}

.ApexChart .apexcharts-title-text {
	font-family: 'Akrobat Black', sans-serif !important;
	font-size: 16px;
}

.ApexChart .apexcharts-text {
	font-family: 'Akrobat SemiBold', sans-serif !important;
}

.ApexChart .apexcharts-datalabel-label {
	font-size: 20px;
}

.ApexChart .apexcharts-datalabel-value {
	font-size: 36px;
}

.ApexChart .apexcharts-pie-label {
	font-size: 20px;
}

.ApexChart .apexcharts-tooltip * {
	font-size: 16px;
}

.ApexChart .apexcharts-tooltip.apexcharts-active {
	display: none;
}

.ApexChart .apexcharts-legend-text {
	font-family: 'Akrobat SemiBold', sans-serif !important;
	font-size: 16px !important;
}
