.zoom-buttons {
	position: fixed;
	top: 20px;
	right: 20px;
}

.Tree {
	margin-top: 5px;
	width: max-content;
	position: relative;
	/* width: 6443px;
	height: 2088px;
	border: 1px solid red; */
	transition: transform 0.1s ease-in-out;
}

.Tree .generation {
	display: flex;
	align-items: flex-start;
}
