.Tree {
	margin: 10px;
	width: max-content;
	/* width: 100vw;
	height: 100vh; */
	position: relative;
	/* width: 6443px;
	height: 2088px;
	border: 1px solid red; */
	transition: transform 0.2s ease-in-out;
}

.Tree .branch-line {
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	position: absolute;
	height: 2060px;
	width: 1470px;
	left: 4485px;
	top: 0;
	bottom: 0;
	/* transform: matrix(1, 0, 0.24, 1, 0, 0); */
	transform: matrix(1, 0, 0.39, 1, 0, 0);
}

.Tree .branch-line span {
	position: absolute;
	display: flex;
	align-items: center;
	top: 120px;
}

.Tree .branch-line span:nth-child(1) {
	left: -122px;
}
.Tree .branch-line span:nth-child(2) {
	left: 18px;
}

.Tree .branch-line .arrow-left,
.Tree .branch-line .arrow-right {
	margin-top: 3px;
}
.Tree .branch-line .arrow-left {
	margin-right: 6px;
}
.Tree .branch-line .arrow-right {
	margin-left: 6px;
}
